.one, .three {
    padding: 32px;
}

.one {
    margin: 12px;
    display: flex;
    justify-content: center;
    background-color: pink;
}

.two {
    margin-bottom: 48px;
    background-color: rgba(37, 86, 198, 0.3);
}

.three {
    margin-left: 700px;
    background-color: rgba(241, 173, 45, 0.452);
}

.one, .two, .three {
    border: 1px solid black;
}