
*{
    font-family:'Courier New', Courier, monospace
}

.card, .title, .content, .button-container {
    border: 1px solid black;
}

.title, .content, .button-container {
    
    margin: 5px;
    padding: 5px
    
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
    flex-direction: column;
}

.card {
    width: 400px;
    margin: 80px;
    font-weight: bolder;
    text-transform: uppercase;
}

.button-container > button {
    padding: 4px;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    
}

.title {
    font-size: 16px;
    padding: 15px;
}

.content {
    padding: 15px;
}

.title, .content, .button-container {
    background-color: #b9d8edc9;
}

button {
    background-color: #b9d8edc9;
    border: 2px solid grey;
    font-weight: bolder;
    margin-left: 125px;
    
}