*{
    margin: 0;
    padding: 0;
}


p {
    margin: auto;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

.pokeHeader > div {
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
  justify-content: center;
    width: 100% ;
    margin: 20px;
    padding: 20px;
    background-color: #6f8fafa6;
   
}
.pokeHeader {
  display: flex;
  justify-content: center;
  height: 27.5rem;
 align-items: flex-end;
  background-image: url(http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/548f2eab06f447e.png);
  flex-wrap: wrap;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}


.pokeHeader > img {
 
  justify-content:initial;
  display: flex;
  background-color: rgba(182, 35, 35, 0.119);

  flex-wrap: wrap;
  align-items:center;
  border-radius: 50%;
}

.pokeHeader > input {
  height: 1.5rem;
  width: 13rem;
  border: 2px solid black;
  
}

.pokeCard {
    justify-content: space-between;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2.4rem;
    width: 14rem;
    height: 22rem;
    text-align: center;
}
.pokeCard {
  width: 14rem;
  height: 22rem;
  background: rgb(104, 104, 103);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-transform: capitalize;
  
}
.pokeCard > img {
    justify-content: center;
   text-align: center;
   margin: 10px 50px;
   display: block;
}

 input::placeholder {
  justify-content: center;
  text-align: center;
 }


.myInput {
    text-align: end;
}



  .pokeCard > h2{
    background-color: rgba(0, 0, 0, 0.144);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: large;
    padding: 4px;
    font-weight: bold;
   
  }
  
  .pokeCard:hover {
    width: 14.4rem;
    height: 22.3rem;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color: #5dbde6;
    transition: all .5s ease-in-out;
  }
  .pokeCard:hover::after{
    transition: all .5s ease-in-out;
  }
  
  div.pokeCard {
    --hoverContorno: #959595;
    border-radius: 20px;
  }
  
  div.pokeCard:hover,
  div.pokeCard:focus {

    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    border-radius: 20px;
  }
  
  .grass {
    background-color: rgba(100, 218, 100, 0.714);
  }

  .electric {
    background-color: rgb(222, 222, 62);
  }

  .normal {
    background-color: #959595;
  }

  .bug {
    background-color: rgb(123, 247, 56);
  }
  .water {
    background-color: aqua;
  }

  .poison {
    background-color: rgb(199, 79, 199);
  }

  .fire {
    background-color: rgb(246, 83, 83);
  }

  .rock {
    background-color: #959595;
  }
 