*{
    margin: 0;
    padding: 0;
}


p {
    margin: auto;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

.pokeHeader > div {
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
  justify-content: center;
    width: 100% ;
    margin: 20px;
    padding: 20px;
    background-color: #6f8fafa6;
   
}
.pokeHeader {
  display: flex;
  justify-content: center;
  height: fit-content;
 align-items: flex-end;
  
  flex-wrap: wrap;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}


.pokeHeader > img {
 
  justify-content:initial;
  display: flex;
  background-color: rgba(231, 33, 33, 0.836);

  flex-wrap: wrap;
  align-items:center;
  border-radius: 50%;
}

.myInput {
  height: 1.5rem;
  width: 13rem;
  border: 2px solid black;
  
}
.toTop {
  position: fixed;
}
.pokeCard {
    justify-content: space-between;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem;
   
    text-align: center;
}
.pokeCard > h2 {
  background-color: white;
}
.pokeCard {
  width: 14rem;
  height: 22rem;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  text-transform: capitalize;
  
}

.pokeCard > img {
    justify-content: center;
   text-align: center;
   margin: 10px 50px;
   display: block;
}

 input::placeholder {
  justify-content: center;
  text-align: center;
 }


.myInput {
    text-align: start;
}

main > div > input {
  position: fixed;
  top: 20;
}

  .pokeCard > h2{
    background-color: rgba(0, 0, 0, 0.144);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: large;
    padding: 4px;
    font-weight: bold;
   
  }
  
  .pokeCard:hover {
    width: 14.4rem;
    height: 22.3rem;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color: #e0e6e9;
    transition: all .5s ease-in-out;
  }
  .pokeCard:hover::after{
    transition: all .5s ease-in-out;
  }
  
  div.pokeCard {
    --hoverContorno: #959595;
    border-radius: 20px;
  }
  
  div.pokeCard:hover,
  div.pokeCard:focus {

    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    border-radius: 20px;
  }
  
  .grass:hover {
    background-color: #9ced65;
  }
 
  .electric:hover {
    background-color: #eeec79;
  }

  .normal:hover {
    background-color: #ccc9aa;
  }

  .bug:hover {
    background-color: #d9fe9e;
  }
  .water:hover {
    background-color: #73c3f1;
  }

  .poison:hover {
    background-color: #ca72eb;
  }

  .fire:hover {
    background-color: #e77243;
  }

  .rock:hover {
    background-color: #959595;
  }
.psychic:hover {
  background-color: #af4b9494 ;
  background-image: url(http://pm1.narvii.com/7243/19a53b46a48f55a346f130092cb2c8d8fcf88af0r1-642-671v2_hq.jpg);
  font: white;
}

 .ghost:hover {
  background-color: #e5b9ea;
  }

 .fighting:hover {
  background-color: #f47570;
}
.ground:hover {
  background-color: rgb(116, 93, 52);
}
.fairy:hover {
  background-color: #eba5c8;
}

.dragon:hover {
  background-color: #6f8fafa6;
}